.pedidos {
    height: 100%;
   
    overflow-y: scroll;
}

.pedido_card{
    background-color: bisque;
    margin: 20px 10px;
}
.pedido_card{
    background-color: bisque;
    margin: 20px 10px;
    /* height: 100px; */

}

.pedido_card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 26px;
}

.pedido_card hr{
    /* height: 10px; */
    width: 90%;
    border: 1px solid black;
   }
   .pedido_card_body{
    height: 100%;
   }

   .pedido_card_products{
    padding: 10px;
   }
   .pedido_card_producto{
background-color: azure;
margin: 10px;
padding: 10px;
font-size: 25px;
display: flex;
flex-direction: row;
justify-content: space-around;
   }

   .pedido_card_footer{
    display: flex;
    justify-content: center;
    font-size: 30px;
   }

   .btn_pedidos{
    display: flex;

justify-content: center;
}
.btn_pedidos-print{
    display: flex;

    height: 50px;
    justify-content: center;
    align-items: center;
background-color: rgb(65, 206, 60);
margin: 10px 30px;
/* color: white; */
font-size: 30px;
}