body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
list-style: none;
text-decoration: none;
  color: rgb(78, 77, 77);
}

.screen{
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  column-gap: 100px;
  height: 100vh;
}


.menu-screen{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 149, 29);
  height: 90px;
  
}
.menu{
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}

.link-active{
  font-size: 30px;
  color: rgb(29, 27, 27);
  transition: all .3s ease-out;
}

.btn{
  border-radius: 10px;

}